name: Daily sheet generation

on:
  workflow_dispatch:  # Enables manual trigger from GitHub UI
  schedule:
    - cron: '0 13 * * 1-5'

env:
  TOOL_VERSION: 1.0.1

jobs:
  generate:
    runs-on: ubuntu-24.04

    steps:
      - name: Get tool
        run: |
          wget https://github.com/commander15/DailyIDCAM/releases/download/v${{ env.TOOL_VERSION }}/DailyIDCAM-${{ env.TOOL_VERSION }}-Linux.tar.gz
          tar -xf DailyIDCAM-${{ env.TOOL_VERSION }}-Linux.tar.gz
          mv DailyIDCAM-${{ env.TOOL_VERSION }}-Linux DailyIDCAM

      - name: Install dependencies

      - name: Generate today's sheet
        run: |
          cd DailyIDCAM/bin
          ./idcam-day --output ${{ github.workspace }} --technician '${{ secrets.TECHNICIAN }}' --region '${{ secrets.REGION }}' --workspace '${{ secrets.CLOCKIFY_WORKSPACE }}' --token '${{ secrets.CLOCKIFY_TOKEN }}'

      - name: Send daily sheet though mail
        uses: dawidd6/action-send-mail@v3
        # continue-on-error: true
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.MAIL_ADDRESS }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: "${{ secrets.TECHNICIAN }} sheet generated !"
          to: ${{ secrets.MAIL_ADDRESS }}
          from: ${{ secrets.TECHNICIAN }}
          body: "Hey, your daily sheet had been generated !\n\nLooks at the attachment(s)."
          attachments: ${{ github.workspace }}/*.xlsx
